<h1>{% if album %}Update {% else %}Create {% endif %} Album</h1>
<form method="POST">
    {% csrf_token %}

    <label for="album_title">Album Title:</label>
    <input type="text" name="album_title" id="album_title" value="{% if album %}{{ album.album_title }}{% else %}{{ '' }}{% endif %}">

    <label for="artist">Artist:</label>
    <input type="text" name="artist" id="artist" value="{% if album %}{{ album.artist }}{% else %}{{ '' }}{% endif %}">

    <label for="release_date">Release Date:</label>
    <input type="date" name="release_date" id="release_date" value="{% if album %}{{ album.release_date }}{% else %}{{ '' }}{% endif %}">

    <label for="genre">Genre:</label>
    <input type="text" name="genre" id="genre" value="{% if album %}{{ album.genre }}{% else %}{{ '' }}{% endif %}">

    <button type="submit">Save</button>
</form>

<a href="{% url 'music:music_list' %}">Back to List</a>
