<!-- music_list.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Music List</title>
</head>
<body>
<h1>Music List</h1>
    <button><a href="{% url 'music:music_create' %}">Create Music</a></button>
    <button><a href="{% url 'home' %}">Back to Home</a></button>
<br><br>
    {% for music in music %}
    <a href="{% url 'music:music_detail' pk=music.pk %}"><h3>{{ music.album_title }}</h3></a><br>
    {% empty %}
    <h3>No Created Music</h3>
    {% endfor %}
</body>
</html>
